<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        新規登録画面
      </h1>
    </div>
  </div>
</section>

<section class="section-registration">
  <div class="container">
    <div class="columns">
      <div class="column is-5">
       <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
       <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username, class: "label" %><br />
    <p class="control has-icons-left">
      <%= f.text_field :username, autofocus: true, autocomplete: "email", :placeholder => "username", class: "input" %>
         <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
         </span>
    </p>
  </div>

   <div class="field">
          <%= f.label :profile, class: "label" %>
          <p class="control has-icons-left">
            <%= f.text_field :profile, autofocus: true, autocomplete: "profile", :placeholder => "profile", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </p>
        </div>

 <div class="field">
    <%= f.label :email, class: "label" %>
     <p class="control has-icons-left">
       <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "email", class: "input" %>
        <span class="icon is-small is-left">
         <i class="fas fa-envelope"></i>
        </span>
     </p>
       </div>

        <div class="field">
          <%= f.label :password, class: "label" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <p class="control has-icons-left">
          <%= f.password_field :password, autocomplete: "new-password", :placeholder => "password", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>

         <div class="field">
          <%= f.label :password_confirmation, class: "label" %>
          <p class="control has-icons-left">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "password confirmation", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>

   <div class="weight-bold-text label">詳細</div>
      <div class="form">
      <div class="weight-bold-text label">
         <span class="height">身長</span>
          <%= f.text_field :height, class:"height-input", id:"user-height", placeholder:"例）173cm" %>cm
        </div>
        <div class="weight-bold-text label">
        <span class="weight">体重</span>
          <%= f.text_field :weight, class:"weight-input", id:"user-weight", placeholder:"例）60kg" %>kg
        </div>
        <div class="weight-bold-text label">
      　 <span class="indispensable label">性別</span>
        <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"select-box", id:"gender"}) %>
        </div>

         <div class="field">
        
          <p class="control has-icons-left">
           <%= f.file_field :image, class: 'hidden' %>
          </p>
         </div> 
         <div class="weight-bold-text label">詳細</div>
      <div class="form">
      <div class="weight-bold-text label">
         <span class="height">身長</span>
          <%= f.text_field :height, class:"height-input", id:"user-height", placeholder:"例）173cm" %>cm
        </div>
        <div class="weight-bold-text label">
        <span class="weight">体重</span>
          <%= f.text_field :weight, class:"weight-input", id:"user-weight", placeholder:"例）60kg" %>kg
        </div>
        <div class="weight-bold-text label">
      　 <span class="indispensable label">性別</span>
        <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"select-box", id:"gender"}) %>
        </div>

         <div class="field">
        
          <p class="control has-icons-left">
           <%= f.file_field :image, class: 'hidden' %>
          </p>
         </div> 

        <div class="actions">
          <%= f.submit "Sign up", class: "button is-success" %>
        </div>

      </div>
    </div>


  <%# <div class="actions">
  </div> %>
 <% end %>
</div>
    </div>
  </div>
</section>
<div class="underlay-photo">
</div>
<div class="underlay-black"></div> 
</div>