<body>
</body>
<%# 
<section> %>
<div class="container1">
<div class="card-center">
<%# <div class="session"> %>
<% @articles.each do |article| %>
<div class="card-top">

 <figure class="image">            
      <%= video_tag article.video.url, autoplay: false, muted: false, controls: true , :size => "500x500"%>
 </figure>

<div class="card-botom">
<div class="box11">
 <p><strong>タイトル：</strong><%= article.title %></p>
<p class="name"><strong>ユーザー名前:</strong>
<%= link_to article_path(article.id) do %>
<%= article.user.username %></p>
<% end %>
<h1><strong>部位：</strong><%= article.part.name%></h1>
<p class="content"><strong>投稿日</strong>
<time><%= article.updated_at.strftime("%Y-%m-%d %H:%M") %></time>
</p>
<div class="card-content">
            <div class="content average-score">
              <div class="star-rating mb-2">
              <div class="star-rating-front" style="width: <%= article.review_score_percentage %>%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
              <div class="average-score-display ml-3 pt-2">
               （<%= article.avg_score %>点<%= article.reviews.count %>件のレビュー）
              </div>
            </div>
          </div>
        </div>
</div>
</div>
      <%# <%= link_to 'New Article', new_article_path %> 

<% end %>
<%# </div> %>
</div>
</div>
</div>


  <%# <div class="panel-group"> %>

  <%# <div class="container3"> %>
<div class="tab-panel">
  <ul class="tab-group">
    <li class="tab tab-A is-active">Chest(胸)</li>
    <li class="tab tab-B">Shoulder(肩)</li>
    <li class="tab tab-C">Back(背中)</li> 
    <li class="tab tab-D">Arm(腕)</li> 
    <li class="tab tab-E">Leg(脚)</li>  
 </ul>
 </div>
<div class="container2">
    <div class="panel tab-A is-show">
     <% @articles1.each do |article1| %>
          <div class="container-panel">
        <div class="card-rank">
         <div class="rank-left">
            <h1><strong>１位</strong><%= article1.user.username %></h1>
            <figure class="image">            
            <%= video_tag article1.video.url, autoplay: false, muted: false, controls: true , :size => "500x500"%>
            </figure>
         </div>
         <div class="rank-right">
           <div class="box25">
           <p><strong>タイトル：</strong><%= article1.title %></p>
           <p class="name"><strong>ユーザー名前:</strong>
           <%= link_to article_path(article1.id) do %>
           <%= article1.user.username %></p>
           <% end %>
           <p class="content"><strong>投稿日</strong>
           <time><%= article1.updated_at.strftime("%Y-%m-%d %H:%M") %></time>
           </p>

        



           </div>
         </div> 
         </div>
        <% end %>
      
    </div>

    <div class="panel tab-B">
    <% @articles2.each do |article2| %>
          <div class="container">
        <div class="card-rank">
         <div class="rank-left">
            <figure class="image-rank">            
            <h1><strong>１位</strong><%= article2.user.username %></h1>
            <%= video_tag article2.video.url, autoplay: false, muted: false, controls: true , :size => "500x500"%>
            </figure>
         </div>
         <div class="rank-right">
           <div class="box25">
           <p><strong>タイトル：</strong><%= article2.title %></p>
           <p class="name"><strong>ユーザー名前:</strong>
           <%= link_to article_path(article2.id) do %>
           <%= article2.user.username %></p>
           <% end %>
           <p class="content"><strong>投稿日</strong>
           <time><%= article2.updated_at.strftime("%Y-%m-%d %H:%M") %></time>
           </p>
           </div>
         </div> 
        </div>
        <% end %>
    </div>
    <div class="panel tab-C">Back(背中)</div>
    <div class="panel tab-D">Arm(腕)</div>
    <div class="panel tab-E">Leg(脚)</div>
  </div>
<%# </div> %>
<%# </div> %>

<%= javascript_include_tag 'tabs.js' %>

