<!DOCTYPE html>
<html>
  <head>
    <title>MovieApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <script src="https://kit.fontawesome.com/484e6509e8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>
  <div class="container">


<header>
<div class="container-title">
<ul class="title1">
<%= link_to root_path, class: "nav-title1" do %>
          <h1 class="title1" style="font-family: cursive;">Fitnessgram</h1>
        <% end %>
</ul>
<% if user_signed_in? %>

<ul class="title2">
    <li class="nav-i">
     <%= link_to "Fitness覧", articles_path, class: "navbar-item button is-warning is-light" %>
     </li>
    <li class="nav-itm3">
    <%= link_to "My Fitness投稿", new_article_path, class: "navbar-item button is-warning is-light" %>
    </li>
           <li class="navbar-item3">
                <%= link_to "マイページ", user_path(current_user), class: "button is-warning is-light" %>
          </li>   
           <li class="navbar-item3">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "button is-warning is-light" %>
          </li> 
</ul>
<% else %>
<ul class="title2">
    <li class="nav-itm">
     <%= link_to "Fitness覧", articles_path, class: "navbar-item button is-warning is-light" %>
     </li>
       <li class="navbar-item">
                <%= link_to "Fitnessgram一覧", users_path %>
            </li>
            <li class="navbar-item">
                <%= link_to "ログイン", new_user_session_path %>
            </li>
            <li class="navbar-item">
                <%= link_to "新規登録", new_user_registration_path %>
            </li> 
<% end %>
</ul>
</div>
</header>
   <% if flash[:notice] %>
      <div class="notification is-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>


  
   <%= yield %>

  

<footer>
      <div class="footer-container">
        
          <%# <div class="logo"> %>
          <div class="logo-item">
          <p>
          <%# <span class="icon is-small is-left"> %>
              <i class="fas fa-plus fa-3x"></i>
            <%# </span> %>
           </p>
          </div>
           <div class="logo-item">
            <%= link_to root_path, class: "nav-title1" do %>
              <h1 class="title1" style="font-family: cursive;">Fitnessgram</h1>
            <% end %>
            </div>
            <div class="logo-item">
             <p>
          <%# <span class="icon is-small is-left"> %>
              <i class="fas fa-search fa-3x"></i>
            <%# </span> %>
           </p>
                </div>
          <%# <%# </div> %>
      </div><!-- /inner-block -->
     <%# </div> %>
    </footer>
</html>
   </div>
  </body>
        
        